/* filepond.css */

/* Root container styling */
.filepond--root {
  background-color: "white";/* Raio das bordas */
  padding: 16px; /* Espaçamento interno */
  min-height: 60px; /* Altura desejada */
  min-width: 240px; /* Largura desejada */
}








/* Drop label styling */
.filepond--drop-label {
  color: #631aea !important;
}



